## Importing Libraries

In [0]:
import numpy as np
import pandas as pd

## Loading the datasets

In [0]:
df = 'Autolib.csv'
ddf=pd.read_csv(df)
ddf.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

# Data Cleaning

## Validity

In [0]:
ddf.info()
ddf.drop(["Displayed comment","Scheduled at"], axis = 1, inplace= True)
#ddf.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
Address                5000 non-null object
Cars                   5000 non-null int64
Bluecar counter        5000 non-null int64
Utilib counter         5000 non-null int64
Utilib 1.4 counter     5000 non-null int64
Charge Slots           5000 non-null int64
Charging Status        5000 non-null object
City                   5000 non-null object
Displayed comment      111 non-null object
ID                     5000 non-null object
Kind                   5000 non-null object
Geo point              5000 non-null object
Postal code            5000 non-null int64
Public name            5000 non-null object
Rental status          5000 non-null object
Scheduled at           47 non-null object
Slots                  5000 non-null int64
Station type           5000 non-null object
Status                 5000 non-null object
Subscription status    5000 non-null object
year                   5000 non-null int64
month                  5000 non-null int64
day                    5000 non-null int64
hour                   5000 non-null int64
minute                 5000 non-null int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [0]:
ddf.head(1)

               Address  Cars  Bluecar counter  ...  day  hour  minute
0  2 Avenue de Suffren     0                0  ...    8    11      43

[1 rows x 23 columns]

In [0]:
ddf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
Address                5000 non-null object
Cars                   5000 non-null int64
Bluecar counter        5000 non-null int64
Utilib counter         5000 non-null int64
Utilib 1.4 counter     5000 non-null int64
Charge Slots           5000 non-null int64
Charging Status        5000 non-null object
City                   5000 non-null object
ID                     5000 non-null object
Kind                   5000 non-null object
Geo point              5000 non-null object
Postal code            5000 non-null int64
Public name            5000 non-null object
Rental status          5000 non-null object
Slots                  5000 non-null int64
Station type           5000 non-null object
Status                 5000 non-null object
Subscription status    5000 non-null object
year                   5000 non-null int64
month                  5000 non-null int64
day                    5000 non-null int64
hour                   5000 non-null int64
minute                 5000 non-null int64
dtypes: int64(12), object(11)
memory usage: 898.6+ KB

In [0]:
#checking for outliers
Q1 = ddf.quantile(0.25)
Q3 = ddf.quantile(0.75)
IQR = Q3 - Q1

print(IQR)
#below is the interquartile range for each column

Cars                      4.0
Bluecar counter           4.0
Utilib counter            0.0
Utilib 1.4 counter        0.0
Charge Slots              0.0
Postal code           17308.0
Slots                     3.0
year                      0.0
month                     0.0
day                       4.0
hour                     12.0
minute                   30.0
dtype: float64

In [0]:
# Having the IQR scores, it’s time to get hold on outliers. 
# The below code will give an output with some true and false values. 
# The data point where we have False that means these values are valid 
# whereas True indicates presence of an outlier.
#
print((ddf < (Q1 - 1.5 * IQR))|(ddf > (Q3 + 1.5 * IQR)))

#The code below would be used to remove the outliers, however we dont need to remove them because 
#they're insignificant.
#boston_df_iqr = boston_df[~((boston_df < (Q1 - 1.5 * IQR)) |(boston_df > (Q3 + 1.5 * IQR))).any(axis=1)]
#print(boston_df_iqr.shape)

      Address  Bluecar counter   Cars  ...  minute  month   year
0       False            False  False  ...   False  False  False
1       False            False  False  ...   False  False  False
2       False            False  False  ...   False  False  False
3       False            False  False  ...   False  False  False
4       False            False  False  ...   False  False  False
...       ...              ...    ...  ...     ...    ...    ...
4995    False            False  False  ...   False  False  False
4996    False            False  False  ...   False  False  False
4997    False            False  False  ...   False  False  False
4998    False            False  False  ...   False  False  False
4999    False            False  False  ...   False  False  False

[5000 rows x 23 columns]

## Accuracy

In [0]:
def y(row):
  if row['Cars'] == row['Bluecar counter']:
    return 'True'
  else:
    return 'False'
#Apply the lambda function and create a new column with the new row
ddf['Verifier_column']=ddf.apply (lambda row: y(row), axis=1)
ddf.head(10)

                              Address  Cars  ...  minute  Verifier_column
0                 2 Avenue de Suffren     0  ...      43             True
1           145 Rue Raymond Losserand     6  ...      24             True
2    2 Avenue John Fitzgerald Kennedy     3  ...      14             True
3              51 Rue EugÃ¨ne OudinÃ©     3  ...      37             True
4  6 avenue de la Porte de Champerret     3  ...      23             True
5                8 Boulevard Voltaire     0  ...       2             True
6                      37 rue Leblanc     0  ...      20             True
7         17 Rue des Luaps ProlongÃ©e     3  ...      13             True
8               34 avenue Jean Moulin     1  ...      58             True
9        41 boulevard de Rochechouart     6  ...       2             True

[10 rows x 24 columns]

In [0]:
#Checking whether the similar columns: bluecar and cars have similar values
len(ddf[ddf['Verifier_column'] == 'True'])
#The result below being the total number of rows meaning all values are true: synnonymous with eachother.

5000

## Completeness

In [0]:
#The dataset satisfies this condition as it has no null values because there was only two columns
#that had null values and i dropped them.

## Consistency

In [0]:
#Checking for any duplicates in our dataset
ddf.duplicated().sum()

0

In [0]:
#Since there weresome duplicates as seen above, we drop them 
ddf_non_duplicates = ddf.drop_duplicates()

#and print out the dataset with no duplicates
print(ddf_non_duplicates)

#confirm there are no duplicates
ddf_non_duplicates.duplicated().sum()

                                 Address  Cars  ...  minute  Verifier_column
0                    2 Avenue de Suffren     0  ...      43             True
1              145 Rue Raymond Losserand     6  ...      24             True
2       2 Avenue John Fitzgerald Kennedy     3  ...      14             True
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...      37             True
4     6 avenue de la Porte de Champerret     3  ...      23             True
...                                  ...   ...  ...     ...              ...
4995                 8 avenue MÃ©nelotte     2  ...      26             True
4996                   37 rue de Dantzig     4  ...      56             True
4997                      142 rue du Bac     1  ...       1             True
4998         2 avenue du Val de Fontenay     2  ...      27             True
4999                 5 Rue Henry Brisson     4  ...       2             True

[5000 rows x 24 columns]

0

## Uniformity

In [0]:
#Fixing messy column names
# Sometimes you might have column names which are uppercase, with spaces, 
# and whitespace all around. How do we fix this? 
# We use the .str method that we use on text data. 
# Ideally, we chain a bunch of .str functions as shown below; 
# 

# we use strip(), lower() and replace() functions
# 
ddf.columns = ddf.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
print(ddf)

                                 address  cars  ...  minute  verifier_column
0                    2 Avenue de Suffren     0  ...      43             True
1              145 Rue Raymond Losserand     6  ...      24             True
2       2 Avenue John Fitzgerald Kennedy     3  ...      14             True
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...      37             True
4     6 avenue de la Porte de Champerret     3  ...      23             True
...                                  ...   ...  ...     ...              ...
4995                 8 avenue MÃ©nelotte     2  ...      26             True
4996                   37 rue de Dantzig     4  ...      56             True
4997                      142 rue du Bac     1  ...       1             True
4998         2 avenue du Val de Fontenay     2  ...      27             True
4999                 5 Rue Henry Brisson     4  ...       2             True

[5000 rows x 24 columns]

In [0]:
ddf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 24 columns):
address                5000 non-null object
cars                   5000 non-null int64
bluecar_counter        5000 non-null int64
utilib_counter         5000 non-null int64
utilib_1.4_counter     5000 non-null int64
charge_slots           5000 non-null int64
charging_status        5000 non-null object
city                   5000 non-null object
id                     5000 non-null object
kind                   5000 non-null object
geo_point              5000 non-null object
postal_code            5000 non-null int64
public_name            5000 non-null object
rental_status          5000 non-null object
slots                  5000 non-null int64
station_type           5000 non-null object
status                 5000 non-null object
subscription_status    5000 non-null object
year                   5000 non-null int64
month                  5000 non-null int64
day                    5000 non-null int64
hour                   5000 non-null int64
minute                 5000 non-null int64
verifier_column        5000 non-null object
dtypes: int64(12), object(12)
memory usage: 937.6+ KB

## Exporting the clean data

In [0]:
#exporting the clean data to a csv
ddf.to_csv('ddf_csv')

In [0]:
#loading cleaned dataset for analysis
ddf = 'ddf_csv'
df2 = pd.read_csv(ddf)
df2.head()

   Unnamed: 0                             address  ...  minute  verifier_column
0           0                 2 Avenue de Suffren  ...      43             True
1           1           145 Rue Raymond Losserand  ...      24             True
2           2    2 Avenue John Fitzgerald Kennedy  ...      14             True
3           3              51 Rue EugÃ¨ne OudinÃ©  ...      37             True
4           4  6 avenue de la Porte de Champerret  ...      23             True

[5 rows x 25 columns]

## Data Analysis

In [0]:
#Loading the new dataframe
#
ddf = pd.read_csv('/content/ddf_csv')

In [0]:
#Creating new columns to compute the usage of the cars as the hours progressed
#positive shows cars were returned in that hour
#negative indicates they were picked up within the hour and
#zero shows nothing happened in that hour
#
ddf['blue_car'] = ddf['bluecar_counter'].diff()
ddf['utilib'] = ddf['utilib_counter'].diff()
ddf['utilib_1.4'] = ddf['utilib_1.4_counter'].diff()
ddf[['bluecar_counter','blue_car','utilib_counter','utilib','utilib_1.4_counter','utilib_1.4']]

      bluecar_counter  blue_car  ...  utilib_1.4_counter  utilib_1.4
0                   0       NaN  ...                   0         NaN
1                   6       6.0  ...                   0         0.0
2                   3      -3.0  ...                   2         2.0
3                   3       0.0  ...                   0        -2.0
4                   3       0.0  ...                   0         0.0
...               ...       ...  ...                 ...         ...
4995                2       2.0  ...                   0         0.0
4996                4       2.0  ...                   0         0.0
4997                1      -3.0  ...                   0         0.0
4998                2       1.0  ...                   0         0.0
4999                4       2.0  ...                   0         0.0

[5000 rows x 6 columns]

## Picking Blue cars

In [0]:
#computing the most popular hour for picking up Bluecars in Paris

popular_hour = ddf[(ddf.city == 'Paris') & (ddf.blue_car < 0)].groupby(['hour'])['blue_car'].sum()
popular_hour.sort_values(ascending = False).head(1)

#The most popular hour for picking up Bluecars was 7pm in Paris.

hour
14   -123.0
Name: blue_car, dtype: float64

In [0]:
#computing the most popular station for picking up Bluecars in Paris 
#
popular_station = ddf[(ddf.city == 'Paris') & (ddf.blue_car < 0) & (ddf.kind == 'STATION') & 
                       (ddf.status == 'ok')].groupby(['id'])['id'].count()
popular_station.sort_values(ascending = False).head(1)

#The most popular station in general for picking up Bluecars in Paris was 'paris-saintecroixdelabretonnerie-37'

id
paris-madame-18    7
Name: id, dtype: int64

In [0]:
#showing the postal code of the station obtained in the previous scenario
#
postal_code = ddf[(ddf.id == 'paris-saintecroixdelabretonnerie-37') & (ddf.kind == 'STATION') & 
                       (ddf.blue_car < 0)].groupby(['postal_code'])['postal_code'].count()
postal_code.sort_values(ascending = False)

#The postal address for the station above was 75004.

postal_code
75004    5
Name: postal_code, dtype: int64

In [0]:
#Popular station- Picking up hour
#computing the most popular station for picking up Bluecars 
#in Paris during the most popular picking up hour
#
pop_station2 = ddf[(ddf.city == 'Paris') & (ddf.blue_car < 0) & 
                        (ddf.kind == 'STATION') & (ddf.hour == 19) & 
                        (ddf.status == 'ok')].groupby(['id'])['id'].count()
pop_station2.sort_values(ascending = False).head(1)

#The popular station during the most popular picking up hour was 'paris-victoire-76'.

id
paris-beaumarchais-87    2
Name: id, dtype: int64

In [0]:
#Postal code
#showing the postal code of the station obtained in the previous scenario
#
postal_code2 = ddf[(ddf.id == 'paris-victoire-76') & (ddf.blue_car < 0) & 
                        (ddf.kind == 'STATION') & (ddf.hour == 19)].groupby(['postal_code'])['postal_code'].count()
postal_code2.sort_values(ascending = False)

Series([], Name: postal_code, dtype: int64)

## Returning Blue cars

In [0]:
#Popular Hour
#The line below computes the most popular hour for returning Bluecars in Paris
#
pop_hr = ddf[(ddf.city == 'Paris') & (ddf.blue_car > 0)].groupby(['hour'])['blue_car'].sum()
pop_hr.sort_values(ascending = False).head(1)

#The most popular hour for returning Bluecars was 4am in Paris.

hour
3    134.0
Name: blue_car, dtype: float64

In [0]:
#Popular station- Overall
#The line below computes the most popular station for returning Bluecars 
#in Paris 
#
pop_station = ddf[(ddf.city == 'Paris') & (ddf.blue_car > 0) & 
                       (ddf.kind == 'STATION')].groupby(['id'])['id'].count()
pop_station.sort_values(ascending = False).head(1)

#The most popular station for returning bluecars in general was 'paris-versailles-112'.

id
paris-portedemontrouge-8    8
Name: id, dtype: int64

In [0]:
#Postal code
#This code will show the postal code of the station obtained in the previous scenario
#
postal_code = ddf[(ddf.id == 'paris-versailles-112') & (ddf.kind == 'STATION') & 
                       (ddf.blue_car > 0)].groupby(['postal_code'])['postal_code'].count()
postal_code.sort_values(ascending = False)

#The postal code for the station above was 75016.

postal_code
75016    2
Name: postal_code, dtype: int64

In [0]:
#Popular station- Picking up hour
#The line below computes the most popular station for returning Bluecars 
#in Paris during the most popular picking up hour
#
pop_station2 = ddf[(ddf.city == 'Paris') & (ddf.blue_car > 0) & 
                        (ddf.kind == 'STATION') & (ddf.hour == 4) & 
                        (ddf.status == 'ok')].groupby(['id'])['id'].count()
pop_station2.sort_values(ascending = False).head(1)
#The popular station during the most popular hour of returning bluecars was 'paris-poteau-40'.

id
paris-claudebernard-16    2
Name: id, dtype: int64

In [0]:
#Postal code
#This code will show the postal code of the station obtained in the previous scenario
#
postal_code3 = ddf[(ddf.id == 'paris-poteau-40') & (ddf.blue_car > 0) & 
                        (ddf.kind == 'STATION') & (ddf.hour == 4) & 
                        (ddf.status == 'ok')].groupby(['postal_code'])['postal_code'].count()
postal_code3.sort_values(ascending = False)
#The postal code for the above station was 75018.

Series([], Name: postal_code, dtype: int64)

Picking up Utilib cars

In [0]:
#Popular Hour
#The line below computes the most popular hour for picking up utilib cars in Paris
#
pop_hr = elec_car[(elec_car.city == 'Paris') & (elec_car.utilib < 0)].groupby(['hour'])['utilib'].sum()
pop_hr.sort_values(ascending = False).head(1)
#The most popular hour for picking up utilib cars was 6pm in Paris.

NameError: ignored

In [0]:
#Popular station- Overall
#The line below computes the most popular station for picking up utilib cars 
#in Paris 
#
pop_station = ddf[(ddf.city == 'Paris') & (ddf.utilib < 0) & (ddf.kind == 'STATION') & 
                       (ddf.status == 'ok')].groupby(['id'])['id'].count()
pop_station.sort_values(ascending = False).head(1)
#The most popular station in general for picking up utilib cars was 'paris-haussmann-6'.

id
paris-legendre-22    2
Name: id, dtype: int64

In [0]:
#Popular station- Picking up hour
#The line below computes the most popular station for picking up utilib cars 
#in Paris during the most popular picking up hour
#
pop_station2 = ddf[(ddf.city == 'Paris') & (ddf.utilib < 0) & 
                        (ddf.kind == 'STATION') & (ddf.hour == 18) & 
                        (ddf.status == 'ok')].groupby(['id'])['id'].count()
pop_station2.sort_values(ascending = False).head(1)
#The popular station during the most popular hour for picking utilib cars was also 'paris-tourmaubourg-76'.

id
paris-suffren-112    1
Name: id, dtype: int64

## Returning utilib cars

In [0]:
#Popular Hour
#The line below computes the most popular hour for returning utilib cars in Paris
#
pop_hr = ddf[(ddf.city == 'Paris') & (ddf.utilib > 0)].groupby(['hour'])['utilib'].sum()
pop_hr.sort_values(ascending = False).head(1)
#The most popular hour for returning utilib cars was 7am in Paris.

hour
6    12.0
Name: utilib, dtype: float64

In [0]:
#Popular station- Overall
#The line below computes the most popular station for returning utilib cars 
#in Paris 
#
pop_station = ddf[(ddf.city == 'Paris') & (ddf.utilib > 0) & 
                       (ddf.kind == 'STATION')].groupby(['id'])['id'].count()
pop_station.sort_values(ascending = False).head(1)
#The most popular station in general for returning cars was 'paris-sibelle-29'.

id
paris-macmahon-5    4
Name: id, dtype: int64

In [0]:
#Popular station- Returning hour
#The line below computes the most popular station for returning utilib cars 
#in Paris during the most popular picking up hour
#
pop_station2 = ddf[(ddf.city == 'Paris') & (ddf.utilib > 0) & 
                        (ddf.kind == 'STATION') & (ddf.hour == 7) & 
                        (ddf.status == 'ok')].groupby(['id'])['id'].count()
pop_station2.sort_values(ascending = False).head(1)
#The most popular station at the popular hour for returning cars was 'paris-tolbiac-189'.

id
paris-vauvenargues-35    1
Name: id, dtype: int64

## Picking up utilib_1.4

In [0]:
#Popular Hour
#The line below computes the most popular hour for picking up utilib_1.4 cars in Paris
#
pop_hr = ddf[(ddf.city == 'Paris') & (ddf['utilib_1.4'] < 0)].groupby(['hour'])['utilib_1.4'].sum()
pop_hr.sort_values(ascending = False).head(1)
#The most popular hour for picking up utilib_1.4 is 7pm in Paris.

hour
1   -7.0
Name: utilib_1.4, dtype: float64

In [0]:
#Popular station- Overall
#The line below computes the most popular station for picking up utilib_1.4 cars 
#in Paris 
#
pop_station = ddf[(ddf.city == 'Paris') & (ddf['utilib_1.4'] < 0) & (ddf.kind == 'STATION') & 
                       (ddf.status == 'ok')].groupby(['id'])['id'].count()
pop_station.sort_values(ascending = False).head(1)
#The most popular station for picking up utilib_1.4 is 'paris-turenne-98'.

id
paris-richardlenoir-110    3
Name: id, dtype: int64

In [0]:
#Popular station- Picking up hour
#The line below computes the most popular station for picking up utilib_1.4 cars 
#in Paris during the most popular picking up hour
#
pop_station2 = ddf[(ddf.city == 'Paris') & (ddf['utilib_1.4'] < 0) & 
                        (ddf.kind == 'STATION') & (ddf.hour == 19) & 
                        (ddf.status == 'ok')].groupby(['id'])['id'].count()
pop_station2.sort_values(ascending = False).head(1)
#The most popular station for picking up utilib_1.4 at the popular hour is 'paris-courcelles-40'.

id
paris-tolbiac-41    1
Name: id, dtype: int64

## Returning utilib_1.4

In [0]:
#Popular Hour
#The line below computes the most popular hour for returning utilib_1.4 cars in Paris
#
pop_hr = ddf[(ddf.city == 'Paris') & (ddf['utilib_1.4'] > 0)].groupby(['hour'])['utilib_1.4'].sum()
pop_hr.sort_values(ascending = False).head(1)
#The most popular hour for returning utilib_1.4 is 6am.

hour
17    18.0
Name: utilib_1.4, dtype: float64

In [0]:
#Popular station- Overall
#The line below computes the most popular station for returning utilib_1.4 cars 
#in Paris 
#
pop_station = ddf[(ddf.city == 'Paris') & (ddf['utilib_1.4'] > 0) & 
                       (ddf.kind == 'STATION')].groupby(['id'])['id'].count()
pop_station.sort_values(ascending = False).head(1)
#The most popular station for returning utilib_1.4 in general is 'paris-portedemontrouge-8'.

id
paris-portedemontrouge-8    7
Name: id, dtype: int64

In [0]:
#Popular station- Returning hour
#The line below computes the most popular station for returning utilib_1.4 cars 
#in Paris during the most popular picking up hour
#
pop_station2 = ddf[(ddf.city == 'Paris') & (ddf['utilib_1.4'] > 0) & 
                        (ddf.kind == 'STATION') & (ddf.hour == 6) & 
                        (ddf.status == 'ok')].groupby(['id'])['id'].count()
pop_station2.sort_values(ascending = False).head(1)
#The most popular station for returning utilib_1.4 at the popular hour is 'paris-marcadet-220'.

id
paris-suffren-78    1
Name: id, dtype: int64